[package]
name = "allay-plugin"
version = "0.1.0"
edition = "2024"

[dependencies]
allay-base = { path = "../allay-base" }
serde.workspace = true
tokio.workspace = true
anyhow.workspace = true
axum.workspace = true
tracing.workspace = true
async-trait.workspace = true
anymap.workspace = true
