[package]
name = "allay-plugin"
version = "0.1.0"
edition = "2024"

[dependencies]
allay-base = { path = "../allay-base" }
allay-plugin-host = { path = "../allay-plugin-host" }
anyhow.workspace = true
tracing.workspace = true
